.main {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto 50px;
  grid-template-areas:
    "m h h h h h h h h h h h"
    "m c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.header {
  grid-area: h;
  background-color: #172451;
}

.menu {
  grid-area: m;
  background-color: #4dc9ea;
}

.content {
  grid-area: c;
}

.images{
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-auto-rows: 125px;
  grid-auto-flow: dense;
}

.images > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.images > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wide-bears {
    grid-column: span 2;
}

.tall-bears {
    grid-row: span 2;
}

.big-bears {
    grid-column: span 2;
    grid-row: span 2;
}

.footer {
  grid-area: f;
  background-color: #172451;
}

.main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: sans-serif;
    color: white;
    padding: 5px;
}

html, body {
  margin: 10px;
  background-color: #a3a6af;

}
